h1 {
font.weight:bold}

p {
border: 1px solid black;
padding: 100px
width: 500
height:500
tex-align: justify}

.rotateimg {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}




